include parts/header.pug	

	.grid-container
		a(href='index.html').grid-item.item1  Print/Press
		.grid-item.item2 
			p.intro
				span.count 1 
				| In an effort to bridge the gap between  
				strong designers 
				| and 
				strong digital printers 
				| the 
				em Print/Press 
				| project will commission 12 independent designers to produce a 2019 calendar.
		.grid-item.item3 
			p.intro
				span.count 2 
				| The calendar will address the theme of  
				strong personalisation. 
				| In the era of big data, it is the contention of this project that work needs to be done to critically reflect on the implications of these techniques for the consumer.
				br
				br 
				.
					The calendar will be digitally printed using variable data techniques making it possible to produce a series of unique multiples for each design.

		.grid-item.item4 
			p.intro
				span.count 3 
				| The format of the publication is 
				strong 6.8x8.5 inches 
				| and each contributer gets 1 double-page spread. The possible variable elements are:
				ul.variables
					li TEXT
					li IMAGE/S
					li FONT/S 
					li VECTOR/S 
					li LAYOUT
					li COLOUR/S
		.grid-item.item5 
			p.intro
				span.count 4 
				| Your contribution should include: 
				ul.explanation
					li At least one consistent element 
					li At least one variable element
					li As many versions of the variable element/s as you like (but no less than 12)
		.grid-item.item6 
			p.intro
				span.count 5 
				| A list of the contributors and their work will be published on the Press/Print website. 
				br
				All contributions must be received by the 
				strong 8th of June, 2018.
				br
				| (More to follow soon)
		.grid-item.item7 
		.grid-item.item8 
			img(src='img/heinz-variable.gif')
		.grid-item.item9 
			p.horo Horoscope
			hr
			p.intro 	
				span.count Taurus  
				br
				br
				| A heralding Angel of the Lord will appear unto you, seem confused, ask the date, apologize for visiting a few years early, and tell you something really impersonal.
		.grid-item.item10 
			.grid-container-mini
				.grid-item.item1-mini
				.grid-item.item2-mini 
				.grid-item.item3-mini g
				.grid-item.item4-mini
				.grid-item.item5-mini
				.grid-item.item6-mini
				.grid-item.item7-mini
				.grid-item.item8-mini
				.grid-item.item9-mini
				.grid-item.item10-mini
				.grid-item.item11-mini
				.grid-item.item12-mini
		.grid-item.item11 
			p#month
			p#day
			p#nbday
			p#year
		.grid-item.item12 
			p.intro
				| confused
				span.count ? 
				| contact us
				span.count !
				br
				br
				| Oliver Barstow: 
				strong oliver.barstow@sandberg.nl  
				br
				br
				| Nadine Rotem-Stibbe: 
				strong nadine@rotem.eu


	
