include parts/header.pug

	.grid-container-about
		.grid-item-about
			.grid-item-about.item1
				a(href='index.html')   
					svg
						defs
							path#wave(d='M10,10  q50,25 100,0 t100,0 100,0 100,0')
						text(transform='translate(0,40)')
							textpath(xlink:href='#wave', startoffset='0%') About
						text(transform='translate(0,80)')
							textpath(xlink:href='#wave', startoffset='5%') Print/Press  
			.grid-item-about  
				ul.menu
					li.menu-item
						a(href='about.html') About
					li.menu-item 
						a(href='techniques.html') Digital Printing Techniques
					li.menu-item 
						a(href='') Personalisation
					li.menu-item 
						a(href='') A History of Print
					li.menu-item 
						a(href='') 12 Contributors
					li.menu-item 
						a(href='') 12 Calendars
					li.menu-item 
						a(href='')
							span.m-on Glossary
			.grid-item-about  
				p
				| footer?
		.grid-item-about
			p.introduction Glossary  
				li Variable Data
					p Lorem Ipsum Dolor
				li personalisation 
					p Lorem Ipsum Dolor
				li Revolution 
					p Lorem Ipsum Dolor
				li Ink 
					p Lorem Ipsum Dolor
				li Digital


		.grid-item-about
				li 
					a(href='https://www.canopycanopycanopy.com/contributors/i') a
				li 
					a(href='') b 
				li
					a(href='') c 
				li
					a(href='') d 
				li 
					a(href='') e
				li 
					a(href='') f
				li 
					a(href='') g 
				li
					a(href='') h 
				li
					a(href='') i
				li 
					a(href='') j


