include parts/header.pug	

	.grid-container
		a(href='about.html').grid-item.item1 About  Print/Press
		a(href='pages/calendars.html').grid-item.item2 12 Calendars
		.grid-item.item3 One Random Fact About Calendars
		.grid-item.item4 
			p#month
			p#day
			p#nbday
			p#year
		a(href='').grid-item.item5 12 Papers
		a(href='').grid-item.item6 Many Variables
		a(href='').grid-item.item7 Digital Printing Techniques
		a(href='').grid-item.item8 12 Contributors
		.grid-item.item9 Horoscope Generator
		a(href='').grid-item.item10 Personalisation
		a(href='').grid-item.item11 A brief overview of Digital Print
		a(href='').grid-item.item12 Glossary

	
