include parts/header.pug	

	.grid-container
		a(href='about.html').grid-item.item1 
			svg
				defs
					path#wave(d='M10,10  q50,25 100,0 t100,0 100,0 100,0')
				text(transform='translate(0,40)')
					textpath(xlink:href='#wave', startoffset='0%') Welcome to
				text(transform='translate(0,80)')
					textpath(xlink:href='#wave', startoffset='5%')  Print/Press!  
				p.tagline A Resource for Digital Print
		a(href='techniques.html').grid-item.item2 Techniques 
		a(href='timeline.html').grid-item.item3 Timeline 
		.grid-item.item4 
			p#month
			p#nbday
			p#day
			p#year
		a(href='').grid-item.item5 
			img(src='assets/img/Xerox9200.jpg')
		a(href='').grid-item.item6
		a(href='').grid-item.item7 Selection Tool
		.grid-item.item8 
			p.horo 
			hr
			p.intro 	
				span.count Taurus  
				br
				img(src='assets/img/taurus.png' width='50%')
				br
				| A heralding Angel of the Lord will appear unto you, seem confused, ask the date, apologize for visiting a few years early, and tell you something really impersonal.
		a(href='').grid-item.item9 Directory	
		a(href='pages/calendars.html').grid-item.item10 The Calendar Project 
			// img(src='assets/img/heinz-variable.gif')
		a(href='').grid-item.item11 
			.layer 
				p Xerox6500
			img(src='assets/img/Xerox6500.jpg' width='80%')
		a(href='glossary.html').grid-item.item12 Glossary

	
