include parts/header.pug	

	.grid-container
		a(href='index.html').grid-item.item1  Print/Press
		.grid-item.item2 
			p.intro
				span.count 1 
				| In an effort to bridge the gap between  
				strong designers 
				| and 
				strong digital printers 
				| the 
				em Print/Press 
				| project will commission 12 independent designers to produce a 2019 calendar.
		.grid-item.item3 
			p.intro
				span.count 2 
				| Developments in digital printing technology have introduced workflows taking advantage of 
				strong Variable Data. 
				| This technique brings with it the so-called 
				strong Personalisation Revolution 
				| allowing multiple objects within a single print run to be branded using customer data.
		.grid-item.item4 
			p.intro
				span.count 3 
				| While the take up of variable data and personalisation by big brands is widespread, our research shows that there is little evidence of these techniques being used by independent designers and artists. 
				br
				| In the era of big data, it is the contention of this project that work needs to be done to critically reflect on the implications of these techniques for the consumer.
		.grid-item.item5 
			p.intro
				span.count 4 
				| To this end we will use the format of a typical example of personalisation merchandise – a 2019 CALENDAR – to invite 12 independent designers (1 designer for each calendar month) to work with variable data techniques and to critically reflect on the so-called PERSONALISATION REVOLUTION.
		.grid-item.item6 
			p.intro
				span.count 5 
				| A list of the contributors and their work will be published on the Press/Print website. 
				br
				All contributions must be received by the 
				strong 8th of June, 2018.
				br
				| The calendar will be digitally printed using variable data techniques making it possible to produce a series of unique multiples for each design.
		a(href="img/instructions.pdf" target="_blanc").grid-item.item7 
			p.intro
				span.count Download instructions
				br
				| (PDF)
		.grid-item.item8 
			img(src='img/heinz-variable.gif')
		.grid-item.item9 
			p.horo Horoscope
			hr
			p.intro 	
				span.count Taurus  
				br
				br
				| A heralding Angel of the Lord will appear unto you, seem confused, ask the date, apologize for visiting a few years early, and tell you something really impersonal.
		.grid-item.item10 
			.grid-container-mini
				.grid-item.item1-mini
				.grid-item.item2-mini 
				.grid-item.item3-mini g
				.grid-item.item4-mini
				.grid-item.item5-mini
				.grid-item.item6-mini
				.grid-item.item7-mini
				.grid-item.item8-mini
				.grid-item.item9-mini
				.grid-item.item10-mini
				.grid-item.item11-mini
				.grid-item.item12-mini
		.grid-item.item11 
			p#month
			p#day
			p#nbday
			p#year
		.grid-item.item12 
			p.intro
				| confused
				span.count ? 
				| contact us
				span.count !
				br
				br
				| Oliver Barstow: 
				a(href='mailto:oliver.barstow@sandberg.nl') 
					strong oliver.barstow@sandberg.nl  
				br
				br
				| Nadine Rotem-Stibbe: 
				a(href='mailto:nadine@rotem.eu') 
					strong nadine@rotem.eu
				br
				br
				em Print/Press 
				| is realised in collaboration with:
				ul.explanation
					li 
						a(href='https://www.kvgo.nl/') KVGO
					li 
						a(href='https://sandberg.nl/') Sandberg Instituut 
					li Aeroprint
					li
						a(href='https://jubels.nl/en/') Jubels 
					li
						a(href='https://hazenberg.nl/') Hazenberg 
					li 
						a(href='http://aenofondsgrafimedia.nl/') A&amp;O Fund Grafimediabranche
