doctype html
html(lang='en')
	head
		title Print / Press
		meta(charset='UTF-8')
		link(href='assets/css/timeline.css', rel='stylesheet')
		link(href='assets/css/main.css', rel='stylesheet')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js')
		meta(name='viewport', content="width=device-width, initial-scale=1")
	body
		header 

		script(src='assets/js/script.js')

			