ul.menu
	li.menu-item 
		a(href='about.html') About
	li.menu-item 
		a(href='') Techniques
	li.menu-item 
		a(href='timeline.html') Timeline
	li.menu-item 
		a(href='') Selection Tool
	li.menu-item 
		a(href='') Directory
	li.menu-item 
		a(href='') The Calendar Project
	li.menu-item 
		a(href='glossary.html') Glossary