ul.menu
	li.menu-item 
		a#toolkit(href='toolkit.html') Toolkit
	li.menu-item 
		a#techniques(href='techniques.html') Techniques
	li.menu-item 
		a#timeline(href='timeline.html') Timeline
	li.menu-item 
		a#directory(href='directory.html') Directory
	li.menu-item 
		a#calendar(href='calendar.html') The Calendar Project
	li.menu-item 
		a#glossary(href='glossary.html') Glossary
	li.menu-item 
		a#about(href='about.html') About

script(src='assets/js/menu.js')
