include ../parts/header.pug	

	.grid-container
		.grid-item.item1 January
		.grid-item.item2 February
		.grid-item.item3 March
		.grid-item.item4 April
		.grid-item.item5 May
		.grid-item.item6 June
		.grid-item.item7 July
		.grid-item.item8 August
		.grid-item.item9 September
		.grid-item.item10 October
		.grid-item.item11 November
		.grid-item.item12 December

